* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */

.debug > header {
    height: 50px;
    background-color: orange;
}

.debug #logo_text {
    background-color: chartreuse;
}

.debug #site_nav {
    height: 30px;
    background-color: yellow; 
    line-height: 30px;
    
}

.debug .sections {
    width: 100px;
    height: 20px;
    background-color: brown;
}

.debug .title_topmain {
    height: 40px;
    background-color: aqua;
}

.debug .text_topmain {
    height: 40px;
    background-color: crimson;
}

.debug .middle_main {
    background-color: cornflowerblue;
    height: 60px;
}

.debug .title_middlemain {
    height: 40px;
    width: 150px;
    background-color: darkviolet;
}

.debug .text_middlemain {
    width: 300px;
    background-color: green;
}

.debug .bottom_main {
    background-color: darkcyan;
}

.debug .left_content,
.debug .center_content,
.debug .right_content {
    background-color: coral;
}

.debug .title_leftcontent, .debug .title_rightcontent {
    background-color: blue;
}

.debug .text_leftcontent, .debug .text_rightcontent {
    background-color: red;
}

.debug .title_centercontent {
    background-color: blue;
}

.debug .text_centercontent {
    background-color: red;
}

.debug #site_footer {
    height: 30px;
    background-color: blueviolet;
}

.debug .reference_badge {
    height: 30px;
    width: 150px;
    margin: 0 auto;
    background-color: deeppink;
}






/* Main container */
.mega_container {
    width: 900px;
    margin: 1rem auto;
}

/********
 Header 
 ********/

#logo_text {
    width: 100px;
    height: 100%;
}

img {
    width: 100%;
}


/********
 Nav
 ********/

.sections {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 5px;
    text-align: center;
}

.sections > a {
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
}

/********
 Main
 ********/

#site_main {
    margin-top: 1rem;
}

#site_main > div {
    margin-top: 1rem;
}

/* Top main */

.transparence {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    height: 400px;
}
.top_main {
    background-image: url("./../img/banner.jpg");
    background-size: cover;
    background-position: 0;
    height: 400px;
    border-radius: 10px;
    position: relative;
    z-index: -1;
    
}


.title_topmain {
    width: 400px;
    position: absolute;
    left: 2rem;
    bottom: 5.5rem;
    border-radius: 10px;
    font-family: sans-serif;
    color: white;
    font-size: 9px;
    

}

.text_topmain {
    width: 400px;
    position: absolute;
    left: 2rem;
    bottom: 3rem;
    border-radius: 10px;
    font-family: sans-serif;
    color: white;
    font-size: 12px;
    


}

/* Middle main */



.title_middlemain {
    font-family: sans-serif;
    font-weight: 600;
}

.text_middlemain {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: lightgrey;

}

/* Bottom main */

.bottom_main {
    height: 600px;
    
}

/* Row images */

.row::after {
    content: "";
    display: table;
    clear: both;
}

.left_box {
    background-image: url("./../img/img-1.jpg");
    background-size: cover;
    width: 20%;
    height: 150px;
    float: left;
    margin-right: 1%;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

aside img {
    width: 100%;
    height: 100%;
}

.center_box {
    background-image: url("./../img/banner-2.jpg");
    background-size: cover;
    background-position: center;
    width: 58%;
    height: 150px;
    background-color: lightgrey;
    float: left;
    margin-right: 1%;
    border-radius: 10px;
    position: relative;
    z-index: 0;

}

.right_box {
    background-image: url("./../img/img-3.jpg");
    background-size: cover;
    background-position: right 35% bottom 45%;
    width: 20%;
    height: 150px;
    background-color: lightgrey;
    float: left;
    border-radius: 10px;
    position: relative;
    z-index: 0;

}

/* Row content */

/* .left_content */

.left_content {
    width: 20%;
    height: 84%;
    float: left;
    margin-top: 8px;
    margin-right: 1%;
    border-radius: 10px;
}

.title_leftcontent > h4,
.title_centercontent > h4,
.title_rightcontent > h4 {
    color: black;
    font-size: 13px;
    font-family: sans-serif;
}

.text_leftcontent > p,
.text_centercontent > p,
.text_rightcontent > p {
    color: lightgray;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 300;
}

.title_leftcontent,.title_rightcontent {
    height: 6%;
    width: 100%;
}


.text_leftcontent,.text_rightcontent {
    height: 67%;
    width: 100%;
    margin-top: 10px;
}

/* /.left_content */

/* .center_content */

.center_content {
    width: 58%;
    height: 84%;
    float: left;
    margin-top: 8px;
    margin-right: 1%;
    border-radius: 10px;
}

.title_centercontent {
    width: 100%;
    height: 6%;
}

.text_centercontent {
    width: 100%;
    height: 67%;
    margin-top: 10px;
}

/* /.center_content */

/* .right_content */

.right_content {
    width: 20%;
    height: 84%;
    float: left;
    border-radius: 10px;
    margin-top: 8px;
}

/* /.right_content */


/* /Bottom main */

/********
 Footer
 ********/

 #site_footer {

    margin: 0.5rem 0;    
}

.reference_badge {
  text-align: center;
}

.reference_badge > span {
    font-family: sans-serif;
    font-size: 15px;
}

#heart {
    font-size: 30px;
    color: red;
}

/* /Main container */

